<section class="index-page">
  <img class="avatar" src="{{ avatar }}">
  <h1>Hello {{ username }}!</h1>
  <p class="success">
    You have been successfully logged in!
  </p>
  <a class="button" href="/auth/logout">
    Logout
  </a>
</section>
